@import "tailwindcss";

@theme {
  --color-smoke: #F2F2F2;
  --color-dark-lime: #7CCE1E;
  --color-cornflower-blue: #6288EE;
  --color-gunmetal: #2D3142;
  --color-black-olive: #353D2F;
  --color-brick-red: #E6514D;
  --color-grey: #BEBEBE;
}

html, body, #root {
  color: #f2f2f2;
  background-color: #242424;
  
  height: 100vh;
  width: 100vw;
}